@import url('./mobile.css');
@import './tablet.css' screen and (min-width:460px);
@import './desktop.css' screen and (min-width: 760px);
* {
    box-sizing: border-box;
}

.sun {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    position: absolute;
    transition: 0.8s;
    /* background-color: rgb(178, 46, 22);
    bottom: 0;
    opacity: 0.4; */
}


/* desktop first */


/* tablet */


/* @media screen and (min-width:460px) {
    body {
        background-color: rgb(105, 107, 108);
    }
    .sun {
        background-color: rgb(255, 191, 0);
        top: 300px;
        opacity: 0.7;
    }
} */


/* @media screen and (min-width: 760px) {
    body {
        background-color: skyblue;
    }
    .sun {
        top: 0;
        background-color: yellow;
        opacity: 1;
        bottom: unset;
    }
} */


/* 
@media screen and (min-width:800px) and (max-width:920px) {
    body {
        background-color: black;
    }
} */


/* mobile */